# LangChain Core
langchain 
langchain-core
langchain-community
pypdf
requests 
beautifulsoup4
html2text 
lxml

# Groq/OpenAI-Compatible API Integration
langchain-groq
openai  
tiktoken 

# HuggingFace Integration
langchain-huggingface 
transformers
huggingface-hub
sentence-transformers

# Google Gemini Integration
langchain-google-genai
google-generativeai

# Environment Variable Management
python-dotenv

# Machine Learning Utilities
numpy
scikit-learn 

# Framework
torch
torchvision
torchaudio

# User Interface
streamlit

# Visualization
grandalf

# Vector Stores
langchain-chroma
langchain-pinecone

# Retriever
wikipedia